# {{- if not (eq .Values.local.minio.enabled (or .Values.local.traces.enabled (or .Values.local.logs.enabled .Values.local.metrics.enabled))) -}}
#   {{- fail "minio.enabled should be set to true if any of the the local databases is enabled " -}}
# {{- end -}}

{{- if eq .Values.cloud.logs.enabled true -}}
  {{- if empty .Values.cloud.logs.secret -}}
    {{- fail "if cloud.logs is enabled then the secret has to be filled in" -}}
  {{- end -}}
{{- end -}}

{{- if eq .Values.cloud.metrics.enabled true -}}
  {{- if empty .Values.cloud.metrics.secret -}}
    {{- fail "if cloud.metrics is enabled then the secret has to be filled in" -}}
  {{- end -}}
{{- end -}}

{{- if eq .Values.cloud.traces.enabled true -}}
  {{- if empty .Values.cloud.traces.secret -}}
    {{- fail "if cloud.traces is enabled then the secret has to be filled in" -}}
  {{- end -}}
{{- end -}}

{{- if eq .Values.cloud.traces.enabled false -}}
{{- if eq .Values.cloud.metrics.enabled false -}}
{{- if eq .Values.cloud.logs.enabled false -}}
{{- if eq .Values.local.traces.enabled false -}}
{{- if eq .Values.local.metrics.enabled false -}}
{{- if eq .Values.local.logs.enabled false -}}
    {{- fail "nothing has been enabled" -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{- if empty .Values.namespacesToMonitor -}}
  {{- fail "No namespaces have been specified in namespacesToMonitor" -}}
{{- end -}}

{{- if empty .Values.metrics.retain -}}
  {{- fail "All metrics will be collected, please specify some in metrics.retain" -}}
{{- end -}}
